.table-submit {
  border: none;
  padding: 0;
  width: 100%;
  background-color: transparent;
}
.table-form {
   display: inline; 
}

.st-tbl2{
  margin: 0;
   font-size: auto;
}
.st-tbl2 thead th {
  /* 縦スクロール時を固定 */
  position: sticky;
  border-color:white;
  /* tbody内のセルより手前に表示する */
  z-index: 1;
  padding:0;
}

.st-tbl2 thead tr:nth-child(1) th {
  top: 0;
}.st-tbl2 thead tr:nth-child(2) th {
  top:19px;
}.st-tbl2 thead tr:nth-child(3) th {
  top:38px;
}

.st-tbl2 th:first-child {
  /* 横スクロールを固定 */
  position: sticky;
  left: 0;
  
}
.st-tbl2 thead th:first-child {
  /* 一番左端のthead thが横スクロール時に隠れない様に */
  z-index: 2;
  
}
.st-tbl2 th,
.st-tbl2 td{
  line-height: 1.2em;
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: normal;
  padding:0;

}
.st-tbl2 thead th {
  background:aliceblue;
  color: black;
  text-align: center;
  border-color:silver;
  
}
.st-tbl2 tbody th {
  
  color: black;
  padding: 0;
  margin: 0;
  border-color:silver;
  background:aliceblue;
  height:42px;
}

.st-tbl2 tbody td {
  
  color: black;
  padding: 0;
  margin: 0;
  border-color:silver;
  background:white;
  /*height:42px;*/
  font-size: 14px;
  width: calc(100% / 16);
}